body{
	background-image: url(/CtS/Ressources/grey.jpeg);
}

h1{ 
	font-family:serif;
	/*font-family:comic sans ms;*/
	text-align:center;
	color: #293540;
	background-image:;
	background-repeat:repeat-x;
	padding:5px;
	background-color : #F55359;
	border-bottom:3px #293540 inset;
}


p{
	text-align:center;
	font-size:25;
	margin-top:25%;
}

p>a{
	font-size:15pt;
	color: black;
	border:1px #F55359 solid;
	border-radius: 50px;
	background-color: white;
	padding:0.5%;
}
 
div{
	margin-top: 20%;
}

div>a{
	margin:6.9%;
	border:2px #FF530D solid;
	border-radius: 50px;
	padding:3%;
	font-size:20pt;
	background-color: grey;
}

div>a:hover{
	margin:6.9%;
	border:2px #FF530D solid;
	border-radius: 50px;
	padding:3%;
	font-size:20pt;
	background-color: white;
}


 a{
 	text-decoration:none;
 	color: #293540;
 }
 
 nav{
	 float: left;
 }